# Virtual environment
.venv/
venv/

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Packages
*.egg-info/
dist/
build/

# VS Code
.vscode/

# macOS
.DS_Store

# Environment variables/files
.env
*.env

# Jupyter
.ipynb_checkpoints

# Large model files (if you do NOT want to push)
# Uncomment to ignore model files
#models/
#*.h5
#*.ckpt
#*.pt

# Logs
*.log
